<div class="container">
    <h3 mat-dialog-title>Add New Student</h3>

    <form class="mat-dialog-content" [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup)">

        <!--Textarea for demo purposes-->
        <div class="form">
            <mat-form-field color="accent">
                <textarea matInput #input class="form-control" placeholder="Id" name="id" formControlName="id"
                    required></textarea>
                <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field color="accent">
                <textarea matInput #input class="form-control" placeholder="First Name" name="firstName"
                    formControlName="firstName" required></textarea>
                <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field color="accent">
                <textarea matInput #input class="form-control" placeholder="Last Name" name="lastName"
                    formControlName="lastName" required></textarea>
                <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field color="accent">
                <textarea matInput #input class="form-control" placeholder="Email" name="email"
                    formControlName="email"></textarea>
                <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field color="accent">
                <textarea matInput #input class="form-control" placeholder="Phone" name="phone"
                    formControlName="phone" maxlength="10"></textarea>
                <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field color="accent">
                <textarea matInput #input class="form-control" placeholder="Age" name="age"
                    formControlName="age" maxlength="2"></textarea>
                <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>

        <div mat-dialog-actions>
            <button mat-button type="submit" color="primary" [disabled]="!formGroup.valid" [mat-dialog-close]="1">Save</button>
            <button mat-button (click)="close()" tabindex="-1">Cancel</button>
        </div>
    </form>
</div>